<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar src="{{ user.profilePicture }}">
    <mat-card-title>{{ user.shortName }} {{ user.fullName }}</mat-card-title>
    <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ user.shortMe }}
    </p>
  </mat-card-content>

    <mat-card-actions *ngIf="!showDetails">
      <button mat-raised-button color="accent" (click)="onSeeDetails()">SEE DETAILS</button>
    </mat-card-actions>

  <div *ngIf="showDetails">
    <hr>
    <mat-card-footer class="card-footer">	
      <p>Date joined: {{ user.dateJoined | date:'shortDate' }}</p>
      <p>Location: {{ user.location }}</p>
    </mat-card-footer>
  </div>
  
</mat-card>