<div>
  <mat-dialog-content>
    <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px">
        <app-user-card fxFlex [user]="user" [showDetails]="true"></app-user-card>
        <app-user-comments-section [user]="user" class="comment-section"></app-user-comments-section>
    </div>    
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-raised-button mat-dialog-close color="warn">Close</button>
  </mat-dialog-actions>
</div>
