<div>
  <form ngForm="addCommentForm" #addCommentForm="ngForm">
    <div fxLayout="column" fxLayoutAlign="space-between stretch">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
        <mat-form-field>
          <input matInput [(ngModel)]="comment.user" name="user" required placeholder="User">
        </mat-form-field>

        <mat-form-field>
          <input matInput [(ngModel)]="comment.subject" name="subject" required placeholder="Subject">
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Status" name="status" [(ngModel)]="comment.status" required>
              <mat-option *ngFor="let statusType of statusTypes" [value]="statusType.value">
                {{ statusType.viewValue }}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </div>      

      <mat-form-field>
        <textarea matInput matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="6" [(ngModel)]="comment.body" name="body" required placeholder="Body"></textarea>
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="start center">
          <mat-slider name="rating" class="example-margin" [max]="5" [min]="1" [step]="1" [thumb-label]="true" [tick-interval]="1" [(ngModel)]="comment.rating"></mat-slider>
      </div>      
    </div>
    <div>
      <button mat-raised-button color="primary" [disabled]="!addCommentForm.valid" (click)="onAddCommentClicked()">Add comment</button>
    </div>
  </form>
</div>