<mat-accordion>
  <mat-expansion-panel class="comments-expansion-panel">
    <mat-expansion-panel-header class="expansion-panel-header">
      <mat-panel-title class="expansion-panel-title">
        Comments
      </mat-panel-title>
      <mat-panel-description class="expansion-panel-title">
        ({{ user.comments.length }} comments)
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div fxLayoutGap="3px">
      <app-comment-card *ngFor="let comment of user.comments" [comment]="comment"></app-comment-card>
    </div>
    
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header class="expansion-panel-header">
      <mat-panel-title class="expansion-panel-title">
        Create new comment
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <app-add-comment [consultantId]="user.id"></app-add-comment>

  </mat-expansion-panel>
</mat-accordion>